configs/
wiki/
*.pyc
.idea/*
checkpoints/
*.pth
*.jpg
.ipynb_checkpoints/
__pycache__/
./*/__pycache__/
./*/*/__pycache__/
./*/*/*/__pycache__/
dataset/*
logs/*
tests/logs/*
model_checkpoints/*
segment/*
env/*
VisTask.ipynb
*.swp
*.swo
venv/*
